/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 52.5%;
  --header1: 5rem;
  --header2: 2.5rem;
  --header3: 2.5rem;
  --header4: 2rem;
  --text: 2.5rem;
  --backgound-color: #154353;
  --gray-text: #2c2c2c;
  --gradient1: #38d39f;
  --gradient2: #38a4d3;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray-text);
}
.active {
  background: var(--gray-text);
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
/*CONTAINER*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*HEADER*/
.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

/*NAV*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 10rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
}
nav .logo h2 {
  margin: 2rem;
}

/*INTRO*/
.intro {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}
.intro p {
  padding-top: 2rem;
  color: var(--gray-text);
}
.intro #name {
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.intro-social {
  margin-top: 4rem;
}
.intro-social a {
  margin-right: 4rem;
}

/*PROJECTS*/
.projects {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}
.projects h3 {
  margin: 5rem;
}
.project-card {
  flex: 1 1 40rem;
  cursor: pointer;
  position: relative;
}
.project-card img {
  width: 100%;
  display: block;
}
.project-card a {
  font-size: 0;
}
.detail-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}
.detail-wrap:hover {
  opacity: 1;
}

/*CONTACT*/
.form-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}
.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}
.form-section form input,
.form-section form textarea {
  margin: 2rem;
}
.form-section form input,
.form-section form textarea {
  margin: 2rem;
}
.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}
.form-section form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
}
.form-section form button:focus {
  background: #33696b;
}

form button {
  cursor: pointer;
}

/*GRACIAS*/
.thanks {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}

/*FOOTER*/
footer {
  background: var(--gray-text);
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
footer ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
footer h4 {
  flex: 1 1 40rem;
}

/*ANIMATIONS*/
@keyframes wheelScroll {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    transform: translateY(22px);
  }
  100% {
    opacity: 0;
  }
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
  .scrollDownContainer {
    display: none;
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  .main-head {
    width: 100%;
  }
  nav .logo {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 60rem;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  .intro-text {
    margin-top: 2rem;
    text-align: center;
  }
  .intro-text h2 {
    padding-top: 2rem;
  }
  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
  .project-card {
    flex: 1 1 50rem;
  }
  .project-card img {
    width: 100%;
    height: 100%;
  }
  .form-section form {
    padding: 3rem 0rem;
    width: 100%;
  }
}
